/* Write a media query to hide on mobile only*/
@media (max-width: 768px) {
  .mobile-only {
    display: none !important;
  }
}

/* Write a media query to hide on desktop only*/
@media (min-width: 768px) {
  .desktop-only {
    display: none !important;
  }
}

a {
  text-decoration: none;
}